{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
 
	[{{ letter }}{{ count }}]
    
    {% if post.authors %}
	  {% assign myauth = post.authors | replace: "Alberto Maria Metelli", "<u>Alberto Maria Metelli</u>" | replace: "Alberto Metelli", "<u>Alberto Metelli</u>"%}
      {{ myauth }}.
    {% endif %}

    "{{ title }}".
    
    
		{% capture year %}{{ post.date | default: "1900-01-01" | date: "%Y" }}{% endcapture %}
        {% if post.collection == 'publications' %}
		  {% if year == "1900" %}
			<br>
		  {% else %}
			  {% if post.venue == '' %}
				{{ year  }}.
			  {% else %}
				<b>{{ post.venue}}</b>, {{ year }}.
			  {% endif %}
          {% endif %}
          {% if post.note %}
			<i>({{ post.note }})</i>.
          {% endif %}
          {% if post.acceptance %}
			<b>{{ post.acceptance }}</b>.
          {% endif %}
          {% if post.rankCORE %}
			{{ post.rankCORE }}.
          {% endif %}
          {% if post.rankGGS %}
			{{ post.rankGGS }}.
          {% endif %}
          {% if post.rankSJR %}
			{{ post.rankSJR }}.
          {% endif %}
          {% if post.bibtexfile %}
		[<a href="{{ post.bibtexfile }}">BibTeX</a>]
		{% if post.paperurl %}
			[<a href="{{ post.paperurl }}">Link</a>]
		{% endif %}
    {% endif %}
        {% endif %}
        <br>
  </article>
</div>
